<ion-content class="container">

  <ion-grid>
    <ion-row style="color: white;">
      <ion-col size="1"> <ion-icon name="chevron-back-outline" class="leftarrow" (click)="backClick()"></ion-icon> </ion-col>
      <ion-col size="7"><ion-img src="../../assets/logo.jpg.png" class="rentast"></ion-img></ion-col>
      <ion-col size="4"><ion-button class="button">Show-Map<ion-icon name="map-outline"
            style="margin-left: 5px;"></ion-icon></ion-button></ion-col>
    </ion-row>

  </ion-grid>
  
  <ion-row>
    <ion-col  class="ion-text-center flex-total">
      <ion-text 
        id="flex" 
        class="flexing" 
        [ngClass]="{ 'active': isFlexibleActive, 'inactive': !isFlexibleActive }" 
        (click)="toggleFlexibility(true)">
        Flexible
      </ion-text>
      <ion-text class="flexing">|</ion-text>
      <ion-text 
        id="nonflex" 
        class="flexing" 
        [ngClass]="{ 'active': !isFlexibleActive, 'inactive': isFlexibleActive }" 
        (click)="toggleFlexibility(false)">
        NonFlexible
      </ion-text>
    </ion-col>
  </ion-row>
  <div class="main-b-p">
    <ion-item class="mapinput">
      <span><ion-icon name="location-outline" class="inputfonts"></ion-icon></span>
      <ion-input type="text" placeholder="Conchas Chinas, PPueerto Vallarta, Mexico"  [(ngModel)]="whereToGo" ></ion-input>
    </ion-item>
    <div class="datebox">
      <ion-item class="dateinput">
        <span><ion-icon name="calendar-outline" class="inputfonts"></ion-icon></span>
        <ion-input type="date" placeholder="06/02/24 - 12/03/24" [(ngModel)]="fromDate" [(ngModel)]="toDate"></ion-input>
      </ion-item>
      <ion-item class="adultsinput">
        <span><ion-icon name="person-outline" class="inputfonts"></ion-icon></span>
        <ion-input type="number"  [(ngModel)]="numberOfPeople"></ion-input>
      </ion-item>
    </div>
    <div class="text-scroller">
      <div class="scroller">
        <ion-row class="scrollingrows" [ngClass]="{'active': selectedTab === 'drive-stay'}" (click)="selectTab('drive-stay')">
          <p class="travel">Drive & stay</p>
          <p class="time">How Long & far</p>
        </ion-row>
        <ion-row class="scrollingrows" [ngClass]="{'active': selectedTab === 'promo-travels'}" (click)="selectTab('promo-travels')">
          <p class="travel">Promo Travels</p>
          <p class="time">Go Anytime</p>
        </ion-row>
        <ion-row class="scrollingrows" [ngClass]="{'active': selectedTab === 'flash-travels'}" (click)="selectTab('flash-travels')">
          <p class="travel">Flash Travels</p>
          <p class="time">Within a Month</p>
        </ion-row>
        <ion-row class="scrollingrows" [ngClass]="{'active': selectedTab === 'micro-tips'}" (click)="selectTab('micro-tips')">
          <p class="travel">Micro Tips</p>
          <p class="time">M ini Tips</p>
        </ion-row>
        <ion-row class="scrollingrows" [ngClass]="{'active': selectedTab === 'multi-search'}" (click)="selectTab('multi-search')">
          <p class="travel">Multi Search</p>
          <p class="time">Combined Stayz</p>
        </ion-row>
      </div>
    </div>
    
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col class="search ">
          <ion-label>Search Results</ion-label>
        </ion-col>
        <ion-col>
          <ion-button class="filter-icon-button">
            <ion-icon name="options-outline" class="filter-icon"></ion-icon>
            Filter
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-card class="card" *ngFor="let image of images">
      <div class="img-data-card">
        <div class="img-sub-card">
          <img alt="Silhouette of mountains" [src]="image.src" class="imgclass">
        </div>
        <div class="data-sub-card">
          <div class="discount-icon">
            <ion-icon name="analytics-outline" class="offer-icon"></ion-icon>
          </div>
          <ion-text>
            <div class="vallarta-premier">
              <h6 class="vallarta-text">Vallarta premiere</h6>
            </div>
          </ion-text>

          <div class="map-icon">
            <ion-icon name="location-outline"></ion-icon>
            <h6 class="concha-text">Concha's Chinas 58, Vicente Rosales</h6>
          </div>

          <ion-row>
            <ion-col size="8" class="cost-tax">
              <ion-text>
                <h6 class="availability">7 NIGHTS,4 GUESTS</h6>
                <h1 class="cost">$1645 USD</h1>
                <h6 class="tax">Included taxes and fees</h6>
              </ion-text></ion-col>
            <ion-col size="4" class="rating-viewdetails">
              <span class="rating">4.5<ion-icon name="star-half-outline" class="rate-icon"></ion-icon></span>
              <ion-button class="view-details" (click)="fullview()">View-Details</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>
    
    <ion-footer class="custom-footer">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="home" (click)="selectSegment('home')" [ngClass]="{ 'active': segment === 'home' }">
          <ion-icon name="home-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="heart" (click)="selectSegment('heart')" [ngClass]="{ 'active': segment === 'heart' }">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="mic" (click)="selectSegment('mic')" [ngClass]="{ 'active': segment === 'mic' }">
          <ion-icon name="mic-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="notifications" (click)="selectSegment('notifications')" [ngClass]="{ 'active': segment === 'notifications' }">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="person" (click)="selectSegment('person')" [ngClass]="{ 'active': segment === 'person' }">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-footer>
   
    <div class="bottom">
     <ion-row class="menu-btn-icons">
        <ion-col class="Home-icon"><ion-icon name="home-outline"></ion-icon></ion-col>
        <ion-col class="Home-icon"><ion-icon name="heart-outline"></ion-icon></ion-col>
        <ion-col class="Home-icon"><ion-icon name="mic-outline"></ion-icon></ion-col>
        <ion-col class="Home-icon"><ion-icon name="notifications-outline"></ion-icon></ion-col>
        <ion-col class="Home-icon"><ion-icon name="person-outline"></ion-icon></ion-col>
      </ion-row>
    </div>
