
.container{
    --background: #00121B; 
    height: 100vh;
}
.leftarrow{
    font-size: 20px;
    margin-left: -5px;
    margin-top: 8px;
}

.button{
    width: 98px;
    height: 30px;
    text-transform: capitalize;
    font-size: 10px;
    --border-radius: 12px;
    min-height: 0px;
    --background: #D9D9D9;
    color: #000000;
    float: right;
}


.flexing {
    cursor: pointer;
    color: #838383;
  }
  
  .active {
    color: #FD7000;
  }
  
  .inactive {
    color: white;
  }
.main-b-p{
    margin:0 10px;
}
.mapinput{
    height: 50px;
    --background: #001A26;
    font-size: 14px;
    color: #838383;
}
.inputfonts{
    font-size: large;
    margin-right: 10px;
    color: #838383;
 }
 .datebox{
    height: 50px;
    --width: block;
    display: flex;
    margin-top: 10px
        
    }
    .dateinput{
        height: 50px;
        width: 300px;
        --background:#001A26;
        font-size: 14px;
        color: #838383;
    }
    .adultsinput{
        height: 50px;
        --width: auto;
        --background:#001A26;
        font-size: 14px;
        margin-left: 10px;
        color: #838383;
    
    }
    .text-scroller{
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
        scrollbar-width: none;
        -ms-overflow-style: none; 
    }
    .text-scroller::-webkit-scrollbar {
        display: none;
    }
    .scroller{
        display: flex;
        gap: 10px;
        
        
    }
 
    .travel{
        margin: 1px 13px 1px 4px;font-size: 14px
    }
    .time{
        margin: 1px 13px 1px 4px;font-size: 9px;padding-bottom: 5px;padding-left: 4px;
    }

   .search{
        font-size: 12px;
    }
    .filter-icon-button{
        width: 64px;
        height: 26px;
        --border-radius: 5px;
        --background: #023047;
        color: #ffffff;
        margin-top: -6px;
        font-size: 10px;
    }
    .filter-icon{
        margin-right: 3px;
    }
    .search{
        color: #ffffff;
    }
    
    .card{
        background-color: #001D2B;margin: 10px;
    }
    .img-data-card{
         display: flex;
        padding: 10px;
    }
    .img-sub-card{
        width: 100px; margin-right: 5px;
    }
   
    .imgclass{
        width: 100%; height: 100%;max-width: none;border: 2px solid;border-radius: 5px;object-fit: cover;

    }
    .data-sub-card{
        width: 295px;
    }
    .discount-icon{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    
    .offer-icon{
        width: 19px;
        height: 19px;
        margin-left: 55px;
        background-color: #FD7D00;
    
    }
    
      
    .vallarta-premier{
        margin: 8px 1px 5px 4px;
        width: 130px;
    }
    .vallarta-text{
        margin: 0px; font-size: 16px;color: #ffffff;
    }
    .map-icon{
        display: flex;  padding-bottom: 0px;
    }
    .concha-text{
        margin: 0px;font-size: 10px;line-height: 16px;color:  #737373;border-bottom: 1px solid;
    }
    .cost-tax{
        padding-top: 15px;
    }
    .availability{
        margin: 0px;font-size: 10px;margin-top: 10px;color:  #737373
    }
    .cost{
        margin: 0px;font-size: 20px;margin-top: 5px; color: #FD7D00;
    }
    .tax{
        margin: 0px;font-size: 10px; color:  #737373;margin-top: 5px;
    }
    .rating-viewdetails{
      margin-top: 30px;
      padding: 0px;
      width: 100%;
    }
    .rating{
        color: #959595;
        margin-left: 20px;
        

    }
    .rate-icon{
        margin-left: 5px;
        color: #FD7D00;
    }
    .view-details{
        width: 100%;
        height: 30px;
        font-size:8px;
        border: 1px solid;
        border-radius: 7px; 
        color: #D9D9D9;
        --background: #001D2B;
       
        
    
    }
    .menu-btn-icons{
         background-color: #ffffff;color: #023047; border-radius: 35px;   display: inline;padding: 5px 0px 0px 13px;position: absolute; display: flex; justify-content: space-between;
         bottom: 2px; width: 100%;
        
    }
    .Home-icon{
        margin-right: 15px;
        font-size: 25px;
    }
    .custom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        z-index: 10;
        border-radius: 32px;
        margin: 6px;
      }
      
      ion-segment-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0px;
        cursor: pointer;
        min-width:30px;
        border-radius: 20px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        --color: black;
        --color-checked:black;
       
      }
      
      ion-segment-button ion-icon {
        font-size: 24px;
        color: gray;
      }
      
      
      ion-segment-button:hover {
        transform: translateY(-3px);
      }
      
      

   
    .scrollingrows.active, .scrollingrowss.active {
        background-color: #023047;
        color: #fff;
      }


      .scrollingrows{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-top: 3px;
        background-color: #001A26;
        color: #646464;
        width: 111px;
        height: 40px;
        border-radius: 20px;    

    }
