<ion-header>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block" (click)="setOpen(true)">login</ion-button>

  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block" [ngClass]="login ? 'login-block' : 'signup-block'">
        <ion-icon name="close" class="close-ion" (click)="setOpen(false)"></ion-icon>
        <div class="login-and-create-account">
          <span (click)="userAuthInfo('login')" [ngClass]="login ? 'active' : 'inActive'">Login</span>
          <span class="divider">|</span>
          <span (click)="userAuthInfo('signup')" [ngClass]="signup ? 'active' : 'inActive'">Create Account</span>
        </div>

        <!-- Login Form -->
        <div *ngIf="login">
          <ion-item class="rentast-input mobile-number-input">
            <ion-input type="text" placeholder="Enter Username" class="all-inputs"></ion-input>
          </ion-item>
          <ion-item class="rentast-input mobile-number-input">
            <ion-input type="password" placeholder="Enter password" class="all-inputs"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="loginInfo()">Login</ion-button>
        </div>

        <!-- Registration Form -->
        <div *ngIf="signup">
          <ion-item class="rentast-input">
            <ion-input type="email" placeholder="Email ID" class="all-inputs"></ion-input>
          </ion-item>
          <ion-item class="rentast-input">
            <ion-input type="password" placeholder="Password" class="all-inputs password-input"></ion-input>
          </ion-item>
          <ion-item class="rentast-input">
            <ion-input type="password" placeholder="Confirm Password" class="all-inputs"></ion-input>
          </ion-item>
          <ion-item class="rentast-input mobile-number-input">
            <ion-input type="number" placeholder="Mobile Number" class="all-inputs"></ion-input>
          </ion-item>
          <ion-button expand="block">Register</ion-button>
        </div>

        <!-- OTP Section -->
        <div class="otp-container" *ngIf="false">
          <ion-text class="otp-text">+91 Mobile Number</ion-text>
          <div class="otp-inputs">
            <ng-otp-input [config]="{length:4, inputStyles:{width: '3.5rem', height:'3.5rem', margin:'0 1.25rem 0 0', border:'transparent', background:'#D9D9D930'}}"></ng-otp-input>
          </div>
          <ion-text class="otp-text otp-expires">Otp expires in: 00:59</ion-text>
          <p><ion-text class="otptext otp-expires resend-Otp">Don't Receive OTP? RESEND OTP</ion-text></p>
        </div>

        <ion-text class="or-line-para">or</ion-text>
        <div class="signup-with-con">
          <div class="horizontal-line"><hr class="line"></div>
          <div class="signup-with" *ngIf="signup">Signup With</div>
          <div class="signup-with" *ngIf="login">Login With</div>
          <div class="horizontal-line"><hr class="line"></div>
        </div>
        <div class="for-logo">
          <ion-button size="small"><ion-icon name="logo-google" class="f-logo"></ion-icon>Google</ion-button>
          <ion-button size="small"><ion-icon name="logo-facebook" class="f-logo"></ion-icon>Facebook</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
