<ion-header class="header">
  <ion-grid>
  <ion-row>
  <ion-col size="4.2"><ion-icon (click)="backClicked()" name="chevron-back-outline" class="back-outline"></ion-icon></ion-col>
  <ion-col size="7.8" class="heading-text-col"><ion-text class="heading-text">My Profile</ion-text></ion-col>
  </ion-row>
  </ion-grid>
  </ion-header>
  <ion-content class="container">
    <ion-row class="ion-justify-content-center">
    <ion-img
       src="../../assets/Group 286.png" class="profile-img" >
    </ion-img>
  </ion-row>
  <ion-row class="input-row">
  <ion-text class="input-text">Name</ion-text>
  <ion-input placeholder="Dhanvir Singh" class="input-box"></ion-input>
  <ion-text class="input-text">Mobile Number</ion-text>
  <ion-input  type="number" placeholder="9988775544" class="input-box"></ion-input>
  <ion-text class="input-text">Email</ion-text>
  <ion-input  type="email"  placeholder="userdashbaord@gmail.com" class="input-box"></ion-input>
  <ion-text class="input-text">Location</ion-text>
  <ion-input  type="text" placeholder="Hyderabad" class="input-box"></ion-input>
  </ion-row>
  <ion-row class="footer">
    <ion-button  class="save-btn">Save</ion-button>
  </ion-row>
  </ion-content>