.main2{
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
  }
  .text6{
    font-size: 0.8em;
  }
  .text7{
    font-size: 0.8rem;
    color: gray;
    margin-right: 10%;
  }
  
  ion-datetime{
    margin-top: 5%;
    --background:rgba(0, 29, 43, 1);
    color: white;
    text-align: center;
   }